.main
{
    display:table;
    width:50%;
}

.row
{
    display:table-row;
    text-align:center;
            
}

.left-cell
{
    display:table-cell;
    width:50%;
    text-align:right;
}
.cell
{
    display:table-cell;
    width:50%;
}
  

h2
{
    font-size:20px;
    color:#FF0000;
}
      
h4
{
    font-size:16px;
    font-weight:100;
    padding:10px 10px;
    margin-left:auto;
    margin-right:auto;
}

.default-button
{
    padding:10px 10px;
}

.custom-button
{
    border-radius:8px;
    color:rgb(255,255,255);
    background-color:#FF4000;
    padding:10px 10px;
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
}

.round-button
{
    border-radius:20px;
    padding:10px 10px;
    color:rgb(25,25,25);
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
    background-color:yellow;
}

    .active-round-button
{
    border-radius:20px;
    padding:10px 10px;
    color:rgb(25,25,25);
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
    background-color:yellow;
}

    .active-round-button:hover
    {
        background-color:aqua;
    }

.active-button
{
    border-radius:8px;
    color:rgb(255,255,255);
    background-color:#FF4000;
    padding:10px 10px;
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
        
}
    .active-button:hover
    {
            background-color:black;
    }

.custom-quotes
{
    padding:25px 25px;
    font-size:14px;
    color:rgb(51,51,51);
    background-color:rgb(225, 225, 225);
    border-radius:10px;
    width:50%;
    display:table;
}