.input-labels {
    text-align:right;
}
h3 {
    display: table;
}
h5 {
    font-weight:500;
    font-size:20px;
}
.entity-username, .entity-password, .entity-confirm-password, .entity-email {
    display:inline;
    margin-top:10px;
    margin-left:0px;
    display:none;
}
.col-md-2 {
    padding:0px;
    margin-left:5px;
}