.main
{
    display:table;
    width:50%;
    border:2px green dashed;
}

.row
{
    margin:10px 10px;
    display:table-row;
    text-align:center;
}

.left-cell
{
    display:table-cell;
    width:50%;
    text-align:right;
    border:1px dashed red;
}
.cell
{
    display:table-cell;
    width:50%;
    border:1px dashed red; 
}

h2
{
    font-size:20px;
    color:#FF0000;
}
h4
{
    font-size:16px;
    font-weight:200;
    padding:10px 10px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.42px;
}


.default-button
{
    padding:10px 10px;
}

.custom-button
{
    border-radius:8px;
    color:rgb(255,255,255);
    background-color:#FF4000;
    padding:10px 10px;
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
}

.round-button
{
    border-radius:20px;
    padding:10px 10px;
    color:rgb(25,25,25);
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
    background-color:yellow;
}

    .active-round-button
{
    border-radius:20px;
    padding:10px 10px;
    color:rgb(25,25,25);
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
    background-color:yellow;
}

    .active-round-button:hover
    {
        background-color:aqua;
    }

.active-button
{
    border-radius:8px;
    color:rgb(255,255,255);
    background-color:#FF4000;
    padding:10px 10px;
    font-size:14px;
    line-height:1.42857;
    border:none;
    cursor:pointer;
        
}
    .active-button:hover
    {
            background-color:black;
    }

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

 