h3 {
    font-size:24px;
    font-weight:500;
}
h4 {
    font-weight:500;
}
.container {
    margin-left:30px;
    margin-right:30px;
}
.search-parameter {
    width:50%;
    height:30px;
    display:none;
}
.search-action {
    margin-top:10px;
    height:30px;
    border-radius:5px;
    background-color:orange;
}
.templates {
    display:none;
}
.likes {
    margin-right:10px;
    border:10px;
    display:block;
}
.likes.username {
    color:#428BCA;
}
.likes.critic {
    color:orange;
}
.likes.quote {
    color:green;
}
.likes.imdbId {
    color:red;
}
.likes.member {
    color: purple;
} 
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a {
    color:#428BCA;
    text-decoration:none;
    font-size:24px;
}