/*
    In built tags
*/
hr {
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.page, .templates {
    display:none;
}
.row {
    margin:0px;
}
.col-md-4,.col-md-6 {
    padding:0px;
}



/* search area*/

.search-bar {
    display:table;
    margin-top:10px;
}

.search-btn, .search-input {
    display:inline;
}


@media (min-width:767px) {
    .search-bar {
        width:660px;
        margin:auto;
    }
    .search-input {
        width:70%;
    }
    .search-btn {
        width:15%;
        margin-left:10px;
    }
    .login-btn, .logout-btn {
        margin-left:10px;
    }
}

@media (min-width:0px) and (max-width:766px) {
    .search-bar {
        width:100%;
    }
    .search-input {
        width:100%;
    }
    .search-btn {
        margin-top:10px;
        width:100%;
    }
    .login-btn,.logout-btn {
        margin-top:10px;
        width:100%;
    }
}
/*end search area*/

/*upcoming movies area*/


@media(min-width:999px) {
    .upcoming-movies-holder .upcoming-movie-area {
        height: 450px;
    }
}

.upcoming-movies {
    display:table;
}
.upcoming-movies img {
    border:solid;
    border-radius:4px;
    height:325px;
    display:none;
    cursor:pointer;
}
@media (max-width:401px) {
    .upcoming-movies img {
        width: 100%;
    }
}

.upcoming-movies-title {
    margin-top:0px;
}

.upcoming-movies-release-date {
    color:#2A6496;
}
.upcoming-movie-casts{
    display:table;
    padding-right:0px;
    border-radius:4px;
}

.upcoming-movies-casts-img {
    padding:10px;
    margin-top:10px;
    margin-right: 10px;
    width: 80px;
    height: 100px;
    background-color:black;
    border-radius:4px;
}
.previous-upcoming-movies {
    float:left;
    margin:10px;
}

.next-upcoming-movies {
   float:right;
   margin:10px;
}
/*end upcoming movies area*/

/* top favorite movies*/ 
.top-favorites-img {
    margin-top: 10px;
    margin-right: 20px;
    height: 225px;
    width: 150px;
    border-radius: 4px;
    border: medium solid;
    cursor:pointer;
}



/*in theater movies*/
.in-theatre-movies-img {
    margin-top: 10px;
    margin-right: 20px;
    height: 225px;
    width: 150px;
    border-radius: 4px;
    border: medium solid;
    cursor:pointer;
}

/*end in theater movies*/

/* login */

.blank {
    position:fixed;
    opacity:0.7;
    width:100%;
    height:100%;
    background-color:black;
    top:0%;
    left:0%;
    z-index:-3;
}

.close {
    float:right;
    font-size: 30px;
    z-index: 100001;
}

.details-holder {
    position: fixed;
    top: 23%;
    width: 100%;
    left: 0%;
}

.detail {
    position: relative;
    z-index: 10002;
    background: white;
    margin: auto;
}

@media(min-width:500px) {
    .detail {
        width:500px;
    } 
}

.detail {
    padding:20px;
}

.note,.message {
    display:inline;
}

.note {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 4px;
}

.login-username,.login-password,.login-submit-btn {
    width:100%;
    height:30px;
    margin-top:20px;
}
 
/*end login area*/

/*profile*/
.edit {
    cursor:pointer;
}
.profile-pic {
    height:200px;
}
.member-since, .member-since-value, .profile-views,
 .profile-views-value, .email, .email-value,
 .real-name, .real-name-value {
 
    display:inline;
}

.profile-movie-img {
    height: 175px;
    border-radius: 20px;
    border: solid black;
    margin-right: 20px;
    margin-top: 20px;
    cursor:pointer;
}

.profile-movie-quote {
    margin:10px;
}
/* end profile page*/

/* results Page*/

/*movie details*/
.movie-thumbnail {
    height:389px;
    width:245px;
    border-radius:4px;
    border:medium solid;
}
.col-md-2 {
    padding-left:0px;
}
@media (max-width:300px) {
    .movie-thumbnail {
        width:100%;
    }
}
.movie-title {
    font-size:24px;
    font-weight:500;
}
.movie-genre {
    display: table;
    border-radius: 3px;
    font-size: 17px;
    padding: 5px;
    margin-top:10px;
    background-color: rgb(250, 219, 165);
}
.movie-overview {
    margin-top:10px;
}
.movie-tagline {
    font-size: 30px;
    margin-top:10px;
    color: rgb(184, 196, 135);
}
/*YouTube Player details*/
#player {
    display:none;
}

.write-review-action {
    margin:10px;
}
.add-favorites-action {
    margin-left:15px;
}

@media(min-width:0px) and (max-width:766px) {
    .write-review-action,.add-favorites-action {
        margin-left:0px;
        width:100%;
    }
    .add-favorites-action {
         margin-bottom:10px;
    }
}

/* similar-movies */
.similar-movie-img {
    height: 300px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius:4px;
    border:solid black;
    cursor:pointer;
}
@media(max-width:300px) {
    .similar-movie-img {
        width:100%;
    }
}
.suggestion-box {
    font-size:20px;
}
/*end similar movies*/

/*reviews*/
.review-critic {
    display: inline;
    color: #428BCA;
}
.review-date {
    display: inline;
    margin-left: 10px;
}

.review-area {
    width: 100%;
    height: 40%;
    resize: none;
    margin-top: 10px;
}
.review-submit-btn {
    display: block;
    margin-top: 20px;
}
/*end review*/

/*end results page*/

/*footer area*/
.footer {
    position: relative;
    margin-top: 0px;
    clear: both;
    padding-top: 20px;
}