
hr {
    margin-top:0px;
}

.detail {
    position: relative;
    width: 500px;
    height: 500px;
    z-index: 10002;
    background: orange;
    margin: auto;
}

@media (min-width:767px) {
    .search-bar {
        width:600px;
        margin:auto;
    }
    .search-input {
        width:70%;
    }
    .search-btn {
        width:15%;
        margin-left:10px;
    }
    .login-btn {
        width:10%;
        margin-left:10px;
    }
}

@media (min-width:0px) and (max-width:766px) {
    .search-bar {
        width:100%;
    }
    .search-input {
        width:100%;
    }
    .search-btn {
        margin-top:10px;
        width:100%;
    }
    .login-btn {
        margin-top:10px;
        width:100%;
    }
}

@media (max-width:401px) {
    .upcoming-movies img {
        width: 100%;
    }
}

.search-bar {
    display:table;
    margin-top:10px;
}
.search-input {
    display:inline;
}
.search-btn {
    display:inline;
}

.play-controls {
    padding:0px;
}

.blank {
    position:fixed;
    opacity:0.7;
    width:100%;
    height:100%;
    background-color:black;
    top:0%;
    left:0%;
    z-index:10000;
}

.close {
    position: fixed;
    right: 10px;
    font-size: 30px;
    top: 10%;
    z-index: 100001;
}

.details-holder {
    position: fixed;
    top: 23%;
    width: 100%;
    left: 0%;
}

.upcoming-movies {
    display:table;
}