h3
    {
       padding:0;
       margin:0;
       font-family: MingLiU;
       font-size: large;
       text-transform: uppercase;
       color: #1B6E80
    }

@media (min-width:50px) and (max-width:600px) {
    .wrapper {
        width: 100%;
        margin: auto;
    }
}

@media (min-width:601px) {
    .wrapper {
        width: 600px;
        float:left;
    }

    .body {
        width: 400px;
        float: left;
    }

        .quote
        {
            background-color:#DBFF70;
            padding:10px;
        }

    .sidebar {
        width: 200px;
        float: left;
    }
}

