h3 {
    padding: 0;
    margin: 0;
    font-family: MingLiU;
    font-size: large;
    font-weight:500;
    text-transform: uppercase;
    color: #1B6E80;
}
h4 {
    font-weight:500
}
.sidebar {
    width : 200px;
    float : right;
    background-color:#F8DFC9;
    padding:10px;
}
.main {
    margin-right : 400px;
    padding:10px;
    background-color:#008B68;
}

@media (min-width:601px) {
    .intro {
        width: 600px;
    }
}

@media (min-width:50px) and (max-width:600px) {
    .intro {
        width:100%;
        margin:auto;
    }
}
